﻿@model oneMoreTime.Models.Department
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Model.depId

        <div class="form-group">
            <Label style="control-label col-md-2">depName</Label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="depName" name="depName" value="@Model.depName"/>

            </div>
        </div>



        <div class="form-group">
            <Label style="control-label col-md-2">depHead</Label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="depHead" name="depHead" value="@Model.depHead"/>

            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
