﻿@model IEnumerable<oneMoreTime.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            depName

        </th>
        <th>
            depHead

        </th>
        <th></th>
    </tr>

    @foreach (var item in model)
    {
        <tr>
            <td>
                @item["depName"].InnerText
            </td>
            <td>
                @item["depHead"].InnerText
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item["depId"].InnerText }) |
                @Html.ActionLink("Details", "Details", new { id = @item["depId"].InnerText }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item["depId"].InnerText })
            </td>
        </tr>
    }

</table>
